h1 {
  font-weight: bolder;
  margin: 1em;
}

.card-container {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap:  wrap;
  margin: auto;
}

.card {
  width: 45%;
  position: relative;
  color: white;
  overflow: hidden;
  margin: 3em 1em;
  border-radius: 10px;

  .cover {
    min-width: 100%;
    background-size: cover;
    position: absolute;
    top: -50%;
  }

  &:hover {
    transform: scale(1.03);
    transition: transform 0.3s;

    .gradient {
      background-color: rgba(0, 0, 0, 0.7);
      transition: 0.3s;
    }
  }

  .info {
    padding: 4em;
  }

  * {
    position: relative;
  }

  .gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.9) 75%);
  }

  h2 {
    font-size: 3em;
    color: white;
    margin: 0;
  }

  h3 {
    font-size: 2em;
    color: white;
    margin: 0;
  }

  .genre {
    font-style: italic;
    font-weight: lighter;
    margin: 2em 0;
  }

  i {
    color: #ffaa00;
  }

  p {
    margin-top: 5em;
  }
}

@media only screen and (max-width: 1200px) {
  .card {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 60%;

    .cover {
      max-width: none !important;
    }
  }
}
